nav {
    background-color: transparent;
    margin: 0;
    overflow: hidden;
  }
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav ul li {
    display: inline-block;
    list-style-type: none;
  }
  nav ul li a {
    color: black;
    background-color: transparent;
    display: block;
    line-height: 3em;
    padding: 1em 3em;
    text-decoration: none;
  }
  nav ul li a.last-item{
    border-radius: 25px;
    padding: 1em 3em;
    background: orange; 
    width: 100px;
    height: 15px;  
    color: white

  }


  nav ul li:first-child {
    margin-right: auto;
  }
  .center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

  
  .pentagon {
    -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
     clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  }

  .cp-00 {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  }
  .div-sample {
    width: 900px;
    height: 700px;
    position: relative;
    background-color: orange;
    color: white;
  }

  .subtitle h1, h2 {
    margin:0;
    padding:0;
  }
